*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background:#fff;
}
nav{
    width:100%;
    height:50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.left-sidebar{
    padding-left: 2%;
    width:250px;
    height:50px;
    display: flex;
    margin-top:10px;
    align-items: center;
    justify-content: flex-start;
}
.left-sidebar img{
    width: 100%;
}
.left-sidebar .menu-icon{
    width:30px;
    height:20px;
    margin-right:15px;
    cursor: pointer;
}
.left-sidebar .logo{
    width:100px;
    height:25px;
}

.right-sidebar{
    margin-left:auto;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-sidebar img{
    width:25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.right-sidebar .profile-icon{
    border-radius: 50%;
}
.middle-sidebar{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.middle-sidebar .search-container{
    display: flex;
    align-items: center;
    width:60%;
    height: 35px;
    border:1px solid #ccc;
    border-radius:15px;
    
}

.middle-sidebar .search-container .search-bar{
    flex:1;
    height: 100%;
    border:none;
    outline:none;
    padding:0 10px;
    font-size:16px;
    margin-left:10px;

}
.middle-sidebar .search-icon{
    width:20px;
    height:20px;
    margin-right: 10px;
    cursor: pointer;
}
.middle-sidebar .mic-icon{
    width:20px;
    height:25px;
    margin-left: 15px;
    cursor: pointer;
}
